<li>
  <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" data-wysihtml5-display-format-name="false" tabindex="-1">
    {{#if options.toolbar.fa}} 
      <span class="fa fa-quote-left"></span>
    {{else}}
      <span class="glyphicon glyphicon-quote"></span>
    {{/if}}
  </a>
</li>
