<li>
  <div class="btn-group">
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-action="change_view" title="{{locale.html.edit}}" tabindex="-1">
      {{#if options.toolbar.fa}}
        <span class="fa fa-pencil"></span>
      {{else}}
        <span class="glyphicon glyphicon-pencil"></span>
      {{/if}}
    </a>
  </div>
</li>
