<li>
  <div class="btn-group">
    <a class="btn {{#if options.size}}btn-{{options.size}}{{/if}} btn-default" data-wysihtml5-action="change_view" title="{{locale.html.edit}}" tabindex="-1">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
</li>
